{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    <h1 class="display-4 fw-bolder">Payment Page</h1>
{% endblock %}

{% block content %}




        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <div data-mdb-input-init class="form-outline flex-fill">
                <h2>Checkout</h2>
    <h6>Total: {{ order.get_total_price | intcomma }} $</h6>
        <a href="" class="btn btn-primary">Pay</a>
    <br><br>
                <form action="{% url 'orders:apply_coupon' order.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Apply</button>
        </form>
            </div>
          </div>
        </div>
{% endblock %}
{% block footer %}
    <br><br><br><br><br><br><br><br><br>
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Made by Mohammad Hajghasemi</p></div>
    </footer>
{% endblock %}